.movieWrapper {
  height: 160px;
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: rgb(123, 156, 215);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  padding: 10px 20px;
}

.movieTitle {
  font-size: 25px;
  line-height: 1.2;
  color: rgb(10, 75, 282);
  margin-bottom: 10px;
}

.movieText {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 5px;
}

.movieImg {
  width: 350px;
  height: 500px;
}
